
#input {
    margin: 15px 0 5px 20px;
    width: 83%;
    height: 35px;
    font-size: 17px;
    font-family: helvetica, sans-serif;
    color: #9D9D9D;
    border: none;
    -webkit-box-shadow: 2px 2px 5px #9D9D9D;
    outline: none;
}

#search-container {
	-webkit-box-shadow: 2px 2px 5px #9D9D9D;
    position: absolute;
    z-index: 3; 
	background-color:blue;
}

#search-nav {
    width: 280px;
    max-height: 549px;
    background-color: rgba(256,256,256,.9);
    border: solid 2px blue;
    overflow: hidden;
}

#scroller {
    max-height: 480px;
    overflow: scroll;
    margin: 0 5px;
}

#arrow {
    height: 50px;
    width: 50px;
}

#arrow-container {
    background-color: blue;
    opacity: 0.9;
    max-width: 50px;
    border-radius: 50%;
}


.reset-container {
    position: absolute;
    z-index: 2;
    width: 100%;
    bottom: 0;
    float: middle;
}


#reset,
#reset:focus {
    float: center;
    height: 75px;
    width: 75px;
    float: right;
    margin: 0 10px 15px 0;
    border-radius: 50%;
    border: solid white 2px;
    background-color: blue;
    opacity: 0.9;
    font-size: 14px;
    color: white;
    outline: none;
}

#reset:hover {
    background-color: white;
    color: blue;
    border: solid blue 2px;
}

.img-pop{
	width:160px;
	height:100px;
}

.web-links {
    color: blue;
}

.web-links:visited {
    color: blue;
}

@media screen and (max-width: 670px) {
	.forecast h3 {
		display: none;
	}

	.forecast li {
		margin: 0 1px;
	}	
}


@media screen and (max-width: 700px) and (orientation:landscape) {
	#search-container {
		display: none;
	}
}
